<router-outlet></router-outlet>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                    <span class="h2 font-weight-bold mb-0">924</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Since yesterday</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">liste colis</h3>
          </div>
          
          <form class="search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto" #f="ngForm" (ngSubmit)="onChercher(f.value)">
            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
                (blur)="focus = false" name="keyword" ngModel>
              </div>
            </div>
          </form>
  
  
          
          <ul  >
            
                
  
  
                <li class="nav-item">
                  <a routerLinkActive="active" [routerLink]="['/ajoutcolis']">
                    
                    <span class="nav-link-inner--text">ajout</span>
                  </a>
  
  
  
  
  
  
  
  
  
                
                
        </ul>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">QRcode</th>
                  <th scope="col">Codecolis</th>
                  <th scope="col">prenom</th>
                  <th scope="col">nom</th>
                  <th scope="col"> numtel</th>
  
                   <th scope="col"> 2éme numtel</th>
                  <th scope="col">adresse</th>
                  <th scope="col">adressemail</th>
                 
                  <th scope="col">codepostal</th>
                  <th scope="col">adressepickup</th>
                  <th scope="col"> gouvernorat</th>
  
                  <th scope="col">designationproduit</th>
                  <th scope="col">remarque</th>
                  
                 <th scope="col"> Montant a payer</th>
                 <th scope="col"> etat colis</th>
                 <th scope="col"> editcolis </th>
                 <th scope="col"> editlivreur </th>
               
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let colis of coliers">
             
                  <td>
                  
                  <!-- <a href="http://localhost:8080/api/qr-code/{{colis.id}}" >click</a> -->
                 <img src="http://localhost:8080/api/qr-code/{{colis.id}}"  width="100px" height="100px"/>
                  </td>
                    <td>{{colis.id}}</td>
                    <td>{{colis.prenom }}</td>
                  <td>{{ colis.nom }}</td>
                  <td>{{ colis.numtel }}</td>
                  <td>{{ colis.deuxiemenumtel}}</td>
                  <td>{{ colis.adresse}}</td>
                  <td><a href="mailto:{{ colis.adressemail }}">{{ colis.adressemail }}</a></td>
                  <td>{{ colis.codepostal}}</td>
                  <td>{{ colis.adressepickup}}</td>
                  <td>{{ colis.gouvernorat}}</td>
                
                  <td>{{ colis.designationproduits}}</td>
  
                  <td>{{ colis.remarque}}</td>
                
                  <td>{{ colis.montant}}</td>
                
               <td >
                   <div *ngFor="let etat of colis.etatcolis ; let i= index">
                    <p *ngIf="i == (colis.etatcolis.length -1) ">
                        {{etat.etat_colis}}
                    </p>
 
                   </div>
                  
               </td>
               <td>



              <!--  <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
                    <div class="form-group">
                        <input type="text" name="keyword" ngModel>
                        <button type="Submit" class="btn btn-primary">chercher</button>
                    </div>
                </form> -->

                

           
                  <div class="input-group mb-3">
               
                <select [(ngModel)] = "colis.etat1" name="etat_colis"   class="custom-select" id="inputGroupSelect02">
                    <option selected>Choose...</option>
                    <option (change)="colis.etat1" *ngFor ="let item of items"[value]="item"
                     class="list-group-item list-group-item-action list-group-item-light">{{item}}</option>
                    </select>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="changeEtat(colis.id,colis.etat1)">save</button>
                      </div>
                   
            </div>
               </td>
               <td>
                <div class="input-group mb-3">
               
                  <select [(ngModel)] = "livreur.id" name="livreur.id" class="custom-select" id="inputGroupSelect02">
                      <option selected>Choose...</option>
                      <option (change)="livreur.id" *ngFor ="let livreur of livreurs"[value]="livreur.id"
                       class="list-group-item list-group-item-action list-group-item-light">{{livreur.id}}</option>
                      </select>
  
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" (click)="choisirlivreur(colis.id,livreur.id)">save</button>
                        </div>
                     
              </div>
                 </td>
              <!--  <td>
                  
                    
                  <a routerLinkActive="active" [routerLink]="['/maps, colis.id ']">
                    
                    <button class="btn btn-success" (click)="onEditColis(colis)">edit</button>
                  </a>
  
  
                  
  
                  
                </td>-->
                </tr>
              </tbody>
            </table>
  
            <!--editer-->
           
            <!--fin editer-->
  
           
            
        <!--   </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
  
              <ul class="pagination justify-content-end mb-0">
                
              <li   class="page-item" *ngFor="let p of pages ; let i= index">
                
                <a class="page-link" href="#" (click)="ONpage(i,$event)">{{ i }}  </a></li>
                              </ul>
              
            </nav>
          </div>
        </div> -->
  
  
  
  
      
      
      </div>
    </div>
  
  