
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"></h1>
        <p class="text-white mt-0 mb-5"></p>
      </div>
    </div>
  </div>
</div> 




<div class="container-fluid mt--7">
  <div class="row">
    
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"></h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitt()" >
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" [(ngModel)]="l1.nomsociete" 
                class="form-control" 
                id="nomsociete" 
                name="nomsociete" 
               
               >
            </div>
            
            <div class="form-group">
              <label for=" adresseemail">E-mail</label>
              <input type="text" [(ngModel)]="l1.adresseemail" 
                class="form-control" 
                id=" adresseemail" 
                name=" adresseemail" 
                placeholder=""
                >
            </div>
         
            <div class="form-group">
              <label for="adressephysique">adresse physique</label>
              <input type="text" [(ngModel)]="l1.adressephysique" 
                class="form-control" 
                id="adressephysique" 
                name="adressephysique" 
                placeholder=""
                >
            </div>
           
            <div class="form-group">
              <label for="immatriculation">immatriculation</label>
              <input type="text" [(ngModel)]="l1.immatriculation" 
                class="form-control" 
                id="immatriculation" 
                name="immatriculation" 
                placeholder=""
                >
             
            </div>
            
            
            <button type="submit"  
              class="btn btn-info">Submit</button>

              
          </form>
        </div>
      </div>
    </div>
  </div>
</div>