<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello </h1>
          <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          <a href="#!" class="btn btn-info">Edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div class="card-body">
             <form (ngSubmit)="onSubmit()" #livreurForm="ngForm">
        <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" [(ngModel)]="livreur.nom" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Saisire votre nom"
            required #name="ngModel">
        </div>
      
        <div class="form-group">
          <label for="prenom">prenom</label>
          <input type="text" [(ngModel)]="livreur.prenom" 
            class="form-control" 
            id="prenom" 
            name="prenom" 
            placeholder="Saisire votre prenom"
            required #prenom="ngModel">
        </div>
        
        <div class="form-group">
          <label for="adresse">adresse</label>
          <input type="text" [(ngModel)]="livreur.adresse" 
            class="form-control" 
            id="adresse" 
            name="adresse" 
            placeholder="Saisire votre adresse"
            required #adresse="ngModel">
        </div>
       
  
  
  
        
  
  
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" [(ngModel)]="livreur.email" 
              class="form-control" 
              id="email" 
              name="email" 
              placeholder="Saisire votre vehicule"
              required #email="ngModel">
          </div>
        
        <div class="form-group">
          <label for="vehicule">vehicule</label>
          <input type="text" [(ngModel)]="livreur.vehicule" 
            class="form-control" 
            id="vehicule" 
            name="vehicule" 
            placeholder="Saisire votre vehicule"
            required #vehicule="ngModel">
        </div>
  
       
         <button type="submit" [disabled]="!livreurForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  