<div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form #resetmdpForm="ngForm" (ngSubmit)="Onreset()" action="#" class="sign-in-form">
          <h2 class="title"></h2>
          <div class="input-field">
            
            <input type="text" placeholder="email" id="email"  [(ngModel)]="reset.email" name="email" required
            autofocus/></div>
            <input type="submit" value="envoyer" class="btn" />
         </form>   
        </div>  
        </div>
        </div>
  
    <div class="panels-container">
      <div class=" left-panel">
        <div class="content">
          
         
      
          <img [src]=im1 class="image" alt="" />
        </div>
        </div>
      </div>
